@use "sass:color";

@use "../../scss/fonts.scss";
@use "../../scss/colors.scss";

.headerComponent {
	position: relative;

	.menu.pointing.secondary.headerMenu {
		background-image: linear-gradient(#1f1f1f 25%, colors.$blackBackgroundNormal 50%, #1f1f1f 75%);
		height: 65px;
		margin-bottom: 0;

		.floatedRight {
			float: right;

			@media only screen and (min-width: 320px) and (max-width: 767px) {
				display: none;
			}
		}

		.ui.container {
			display: block;
		}

		.item.menuItem {
			display: inline-block;
			margin-left: 0.75em;

			.ui.image.avatar {
				cursor: pointer;
			}
		}

		.brandName {
			float: left;

			.icon {
				display: none;
				position: absolute;
			}

			@media only screen and (min-width: 320px) and (max-width: 767px) {
				float: none;
				text-align: center;

				.icon {
					display: inline;
					float: right;
					line-height: 65px;
					right: 1em;
				}
			}

			img#logo {
				cursor: pointer;
				height: 60px;
				position: relative;
				width: 250px;
			}
		}

		.visible.menu.transition {
			border-radius: 0.25em !important;
			font-family: fonts.$franklin600 !important;
			left: auto;
			position: absolute;
			right: -5em;
			width: 13em;
			z-index: 99999;

			.item {
				&:nth-of-type(even) {
					background: colors.$offWhite !important;
				}

				&:last-of-type, &:first-of-type {
					border-radius: 0.25em !important;
				}

				&.active, &:active {
					background: inherit !important;
					border: none;
					font-family: fonts.$franklin700 !important;
				}
			}

			.icon, .flag {
				float: right;
				margin-right: 0 !important;
			}

			@media only screen and (min-width: 320px) and (max-width: 767px) {
				display: none;
			}
		}
	
		&.inverted {
			background-color: transparent;
			background: colors.$blackBackgroundDark;

			.visible.menu.transition {
				background: colors.$blackBackgroundNormal;
				border: colors.$invertedBorder;
				
				.item {
					color: colors.$white !important;

					&:nth-of-type(even) {
						background: color.adjust(colors.$blackBackgroundNormal, $lightness: 4%, $space: hsl) !important;
					}

					.icon {
						color: colors.$terminalGreen;
					}
				}

				&::after {
					background: #333;
				}
			}

			.ui.button.green.inverted {
				color: colors.$white;

				&:hover {
					background: colors.$green;
				}
			}
		}
	}

	&.bordered {
		.menu.pointing.secondary.headerMenu.inverted {
			border-bottom: colors.$invertedBorder;
		}
	}

	.ui.stackable.headerGrid {
		border-radius: 0 !important;
		font-family: fonts.$franklin600 !important;

		.row {
			.column {
				background: colors.$whiteBackgroundDark;
				border-bottom: solid 1px #ddd;
				border-top: solid 1px #ddd;
				cursor: pointer;
				font-family: fonts.$cheltenham700 !important;

				p {
					font-family: fonts.$cheltenham400 !important;
				}

				&.active {
					background: colors.$whiteBackgroundNormal;
					border-bottom: none;
				}
			}
		}

		&.inverted {
			.column {
				background: colors.$blackBackgroundDark;
				border: colors.$invertedBorder;
				border-right: none;
				box-shadow: none !important;

				&.active {
					background: colors.$blackBackgroundNormal;
					border-bottom: none;
				}

				&:first-of-type {
					border-left: none;
				}
			}
		}

		@media only screen and (min-width: 320px) and (max-width: 767px) {
			display: none;
		}
	}

	.sidebar.menu {
		font-family: fonts.$cheltenham700;
		z-index: 99999;

		a.item {
			text-align: left;
		}
	}
}