@use "sass:color";

@use "./fonts.module.scss";
@use "./colors.module.scss";

@use "./answer.module.scss";
@use "./auth.module.scss";
@use "./flash.module.scss";
@use "./header.module.scss";
@use "./hints.module.scss";
@use "./image.module.scss";
@use "./map.module.scss";
@use "./question.module.scss";
@use "./search.module.scss";
@use "./upload.module.scss";

body {
	height: 100vh !important;
	margin: 0;
	overflow-y: hidden;

	&.scrolling.dimmable.dimmed {
		overflow-x: scroll !important; // fixes issue with content shifting to the right when the modal opens
		overflow-y: scroll !important;
	}
}

input, textarea, .ui.dropdown {
	font-family: fonts.$franklin600 !important;
}

// Semantic UI dropdown psuedo placeholder text
.ui.dropdown:not(.button) > .default.text {
	font-family: fonts.$franklin600;
}

button {
	font-family: fonts.$franklin700 !important;
}

.clearfix {
	clear: both;
}

.homePage.inverted {
	background: colors.$blackBackgroundNormal;
}

.adminPage {
	.ui.header {
		font-family: fonts.$franklin600 !important;
	}
}

.ui.placeholder {
	border-radius: 0.25em;
}

.mapWrapper {
	border: double 0.02em #d8d8d8;
	border-radius: 0.25em !important;
	overflow: hidden;

	&.inverted {
		border: none;
	}
}

.Toastify__toast-container.Toastify__toast-container--top-center {
	.Toastify__toast {
		display: inline;
		font-family: fonts.$franklin600;
		font-size: 18px;
		margin: auto;
		line-height: 1.5;
		min-width: 400px;
		text-align: center;

		&.Toastify__toast--error {
			background: colors.$red !important;
		}

		&.Toastify__toast--success {
			background: colors.$blue !important;
		}
	}

	&.inverted .Toastify__toast {
		&.Toastify__toast--success {
			background: colors.$terminalGreen !important;
		}

		&.Toastify__toast--error {
			background: colors.$lightRed !important;
		}
	}
}