@use "sass:color";

@use "./fonts.module.scss";
@use "./colors.module.scss";

.imageSectionComponent {
    min-height: 50vh;
    
    .ui.container.mainContainer {
        padding: 1em 0 3em 0;

        &.afterToday, &.quiz404 {
            min-height: 70vh !important;
        }

        &.quiz {
            padding-top: 1em;
        }

        .ui.header.dateHeader, .videoItemHeader {
            font-family: fonts.$cheltenham700 !important;

            .sub.header {
                .icon {
                    line-height: 1;
                    margin-right: 0.25em;
                    vertical-align: middle;

                    &.arrow.left {
                        margin-right: 0.25em;
                    }

                    &.arrow.right {
                        margin-left: 0.25em;
                    }
                }

                .navigatePrev {
                    float: left;
                }

                .navigateToday {
                    float: right;
                }

                .navigatePrev, .navigateToday {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;

                        .icon {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .photoStack {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 7em 0;
            width: 100%;
            min-height: 360px; 

            .imageWrapper {
                align-items: center;
                cursor: pointer;
                display: flex !important;
                justify-content: center !important;
                position: absolute;
                height: auto;
                width: auto;

                img {
                    cursor: pointer;
                    height: 420px;
                    width: auto;
                }

                &:nth-of-type(1) {
                    transform: rotate(-10deg);
                }

                &:nth-of-type(2) {
                    transform: rotate(3deg);
                    margin-left: 3em;
                    margin-bottom: 1em;
                }
            }

            @media only screen and (min-width: 320px) and (max-width: 767px) {
                margin: 3em 0 0 0;

                .imageWrapper {
                    height: auto;
                    width: 80%;

                    img {
                        height: 50%;
                    }
                }
            }
        }
    }
}