@use "sass:color";

@use "./fonts.module.scss";
@use "./colors.module.scss";

.imageSectionComponent {
    min-height: 50vh;
    
    .ui.container.mainContainer {
        padding: 1em 0 3em 0;

        &.afterToday, &.quiz404 {
            min-height: 70vh !important;
        }

        &.quiz {
            padding-top: 1em;
        }

        .ui.header.dateHeader, .videoItemHeader {
            font-family: fonts.$cheltenham700 !important;

            .sub.header {
                .icon {
                    line-height: 1;
                    margin-right: 0.25em;
                    vertical-align: middle;

                    &.arrow.left {
                        margin-right: 0.25em;
                    }

                    &.arrow.right {
                        margin-left: 0.25em;
                    }
                }

                .navigatePrev {
                    float: left;
                }

                .navigateToday {
                    float: right;
                }

                .navigatePrev, .navigateToday {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;

                        .icon {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        img {
            cursor: pointer;
        }
    }
}