@use "sass:color";

@use "../../scss/fonts.scss";
@use "../../scss/colors.scss";

.submitSceneModal {
    overflow-x: hidden;

    .step > .content > .title {
        font-family: fonts.$franklin600 !important;
    }

    .step > .content > .description {
        font-family: fonts.$franklin500 !important;
    }

    .step.active .title {
        color: colors.$blue !important;
    }

    .step.inverted {
        background: colors.$blackBackgroundDark !important;
        border: colors.$invertedBorder !important;

        &:not(:last-of-type) {
            border-right: none !important;
        }

        .content > .title, .content > .description {
            color: colors.$white;
        }

        &::after {
            background: colors.$blackBackgroundDark !important;
            border-color: colors.$invertedBorderColor !important;
        }

        &.active {
            background: colors.$blackBackgroundNormal !important;

            .icon {
                color: colors.$white;
            }

            .title {
                color: colors.$terminalGreen !important;
            }

            &:after {
                background: colors.$blackBackgroundNormal !important;
            }
        }

        &.completed {
            .icon {
                color: colors.$white !important;
            }
        }

        &.disabled {
            .content > .title, .content > .description, .icon {
                color: rgba(215, 215, 215, 0.7) !important;
            }
        }
    }

    .ui.placeholder.segment {
        background-image: url("../images/seven-year-itch.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        height: 450px; /* You must set a specified height */
        margin-top: 0;

        .header {
            font-family: fonts.$cheltenham700;
        }

        .ui.button.inverted {
            background: colors.$blackBackgroundDark;

            &:hover {
                background: colors.$terminalGreen;
            }
        }
    }

    .ui.selection.dropdown {
        font-family: fonts.$franklin600 !important;

        .menu {
            width: 100%;
        }
    }

    div.uploadAgain, div.monroeText {
        margin: 0.75em 0.25em !important;

        &.inverted > span {
            color: colors.$white !important;
        }

        span {
            cursor: pointer;
            font-family: fonts.$franklin600 !important;
        }
    }

    div.monroeText > span {
        cursor: default;
        display: block;
        font-family: fonts.$cheltenham300 !important;
        line-height: 1.3;
        text-decoration: none;

        &:first-of-type {
            font-family: fonts.$cheltenham400 !important;
        }
    }

    .actionHeader, .locationHeader, .hintHeader, .twoPartHeader {
        font-family: fonts.$franklin600 !important;

        &.inverted {
            a {
                color: colors.$terminalGreen !important;
            }
        }
    }

    .ui.hintHeader {
        span.hintLength {
            &.warning {
                color: colors.$green !important;

                &.inverted {
                    color: colors.$terminalGreen !important;
                }
            }

            &.error {
                color: colors.$red !important;

                &.inverted {
                    color: colors.$lightRed !important;
                }
            }
        }
    
        span.hintMaxLimit {
            &.warning {
                color: colors.$red !important;
            }

             &.inverted {
                color: colors.$lightRed !important;
            }
        }
    }

    .answerGrid {
        .row:first-of-type {
            padding-bottom: 0 !important;
        }
    }

    &.inverted {
        background: transparent;
    }
}