/* Cheltenham */
@font-face {
    font-family: "Cheltenham 300";
    src: url("../semantic-ui/themes/default/assets/fonts/cheltenham-normal-300.woff2") format("woff2");
}

@font-face {
    font-family: "Cheltenham 400";
    src: url("../semantic-ui/themes/default/assets/fonts/cheltenham-normal-400.woff2") format("woff2");
}

@font-face {
    font-family: "Cheltenham 700";
    src: url("../semantic-ui/themes/default/assets/fonts/cheltenham-normal-700.woff2") format("woff2");
}

@font-face {
    font-family: "Cheltenham Small Italic 400";
    src: url("../semantic-ui/themes/default/assets/fonts/cheltenham-small-italic-400.woff2") format("woff2");
}

@font-face {
    font-family: "Cheltenham Small Normal 700";
    src: url("../semantic-ui/themes/default/assets/fonts/cheltenham-small-normal-700.woff2") format("woff2");
}

@font-face {
    font-family: "Cheltenham Small Cond Normal 700";
    src: url("../semantic-ui/themes/default/assets/fonts/cheltenham-small-normal-700.woff2") format("woff2");
}

/* Franklin */
@font-face {
    font-family: "Franklin Normal 500";
    src: url("../semantic-ui/themes/default/assets/fonts/franklin-normal-500.woff2") format("woff2");
}

@font-face {
    font-family: "Franklin Normal 600";
    src: url("../semantic-ui/themes/default/assets/fonts/franklin-normal-600.woff2") format("woff2");
}

@font-face {
    font-family: "Franklin Normal 700";
    src: url("../semantic-ui/themes/default/assets/fonts/franklin-normal-700.woff2") format("woff2");
}

@font-face {
    font-family: "Franklin Normal 800";
    src: url("../semantic-ui/themes/default/assets/fonts/franklin-normal-800.woff2") format("woff2");
}

/* Imperial */
@font-face {
    font-family: "Imperial Normal 400";
    src: url("../semantic-ui/themes/default/assets/fonts/imperial-normal-400.woff2") format("woff2");
}

/* Trajan */
@font-face {
    font-family: "Trajan Regular";
    src: url("../semantic-ui/themes/default/assets/fonts/TrajanPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "Trajan Bold";
    src: url("../semantic-ui/themes/default/assets/fonts/TrajanPro-Bold.woff") format("woff");
}

$cheltenham300: "Cheltenham 300";
$cheltenham400: "Cheltenham 400";
$cheltenham700: "Cheltenham 700";
$franklin500: "Franklin Normal 500";
$franklin600: "Franklin Normal 600";
$franklin700: "Franklin Normal 700";
$franklin800: "Franklin Normal 800";
$imperial400: "Imperial Normal 400";