@use "../../scss/colors.scss";
@use "../../scss/fonts.scss";

.footerComponent {
	.footerSegment {
		background: colors.$offWhite !important;

		.ui.list {
			margin-bottom: 0.25em;

			> .item {
				cursor: pointer;
				font-family: fonts.$franklin600 !important;
			}
		}

		p {
			font-family: fonts.$cheltenham400 !important;
			margin-top: 0.5em !important;
		}

		&.inverted {
			background: colors.$blackBackgroundDark !important;

			p {
				color: #aaa !important;
			}
		}
	}
}

.footerModal {
	h2.ui.header {
		font-family: fonts.$cheltenham700 !important;
	}

	p.ui.header.small {
		font-family: fonts.$imperial400 !important;
	}
}