@use "../../scss/colors.scss";
@use "../../scss/fonts.scss";

.footerSegment {
	background: colors.$offWhite !important;

	.ui.list > .item {
		cursor: pointer;
		font-family: fonts.$franklin700 !important;
	}

	p {
		font-family: fonts.$franklin500 !important;
		margin-top: 0.5em !important;
	}

	.ui.list .item {
		// color: colors.$white !important;
	}

	&.inverted {
		background: colors.$blackBackgroundNormal !important;
		border-top: colors.$invertedBorder !important;

		p {
			color: #aaa !important;
		}
	}
}

.footerModal {
	h2.ui.header {
		font-family: fonts.$cheltenham700 !important;
	}

	p.ui.header.small {
		font-family: fonts.$imperial400 !important;
	}
}